body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a86a8;
    color: white;
    padding: 20px ;
    text-align: center;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

#search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;

}

#search-btn {
    background-color: rgb(199, 31, 31);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

#search-btn:hover {
    background-color: rgb(255, 0, 0);
}

h2 {
    margin-top: 40px;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#result ul {
    margin-left: 20px;
}

#result li {
    margin-bottom: 5px;
    color: #222;
}

/* Styling for the superhero detail output */
#result h3 {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

#result h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

#result p {
    font-size: 16px;
    color: #333;
}

#result .error {
    color: #c71f1f;
    font-weight: bold;
    text-transform: uppercase;
}



